// Font Families
$font-roboto: var(--font-roboto);
$font-poppins: var(--font-poppins);
$font-inter: var(--font-inter);

// Colors
$color-white: #ffffff;
$color-black: #000000;
$color-black-transparent: #000000cc;
$color-green-transparent: #008000cc;
$color-red-transparent: #f60606cc;
$color-red-solid: #f60606;
$color-white-transparent: #ffffff80;
$color-light-gray: #faf9f6;

// Font weights
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-x-bold: 800;

// Font sizes
$font-size-large-hero: 60px;
$font-size-hero: 48px;
$font-size-hero-medium: 36px;
$font-size-large: 32px;
$font-size-medium: 24px;
$font-size-subheading: 20px;
$font-size-body: 18px;
$font-size-small: 16px;
$font-size-medium-small: 14px;
$font-size-extra-small: 12px;
$font-size-XX-small: 10px;

// Line heights
$line-height-large-hero: 70.4px;
$line-height-hero: 52.8px;
$line-height-hero-medium: 43.8px;
$line-height-large: 41.6px;
$line-height-medium-large: 38.4px;
$line-height-medium: 33.6px;
$line-height-subheading: 28px;
$line-height-intermediate: 27px;
$line-height-small: 26.1px;
$line-height-medium-small: 24.8px;
$line-height-caption: 24px;
$line-height-large-body: 21px;
$line-height-body: 20px;
$line-height-body-small: 18px;
$line-height-extra-small: 14.52px;
$line-height-XX-small: 14px;
